@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.ix-args, .ix, #ix-list, .ix-arg, .picohot-link {
    display: flex;
}

html,body {
    background-color: #1a1a1a;
    color:white;
    font-family: 'Open Sans', sans-serif;
}

a {
    color:white;
    text-decoration: none;
}

.picohot-link {
    align-items: center;
    background-color: #2a2a2a;
    border-radius: 15px;
    width: min-content;
    padding: 5px 10px 5px 10px;
}


#ix-list {
    gap: 20px;
    flex-direction: column;
}

.ix-arg {
    gap:10px;
    flex-direction: column;
}

.ix {
    border-radius: 15px;
    padding: 10px;
    background-color: #2a2a2a;
    gap:10px;
    flex-direction: column;
    width: 570px;
    align-items: center;
}
.ix-args {
    list-style: none;
    padding-left: inherit;
    gap: 10px;
}

button {
    width: min-content;
    padding:10px;
    background-color: #2a2a2a;
    border-radius: 15px;
    border: 1px black solid;
    color:white;
}